---
export interface Props {
  title: string;
}

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="description" content="Leon Rowland Resume">
      <meta name="viewport" content="width-device-width">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
      <meta name="generator" content={Astro.generator}>
      <title>{frontmatter.title}</title>
  </head>
  <body>
    <div class="container">
        <a id="pdf-link" href="/LeonRowland-Resume-2023.pdf">View as PDF</a>
      <slot />
    </div>
  </body>
</html>
<style is:global>
  html {
      font-family: 'Lato', sans-serif;
      background-color: #F6F6F6;
  }

  .container {
      max-width:1028px;
      margin: 0 auto;
      padding:1em 2em;
      background: #fff;
  }

  .container ul:first-of-type {
      flex-wrap: wrap;
      display: flex;
  }

  .container ul:first-of-type li {
      flex: 1 0 25%;
  }

  h2 {
      margin-bottom:0
  }

  h3 {
      margin-top:1em;
  }

  ul {
      padding-left:1em;
  }

  li {
      margin-bottom:0.3em;
      line-height: 1.5em;
  }

  p {
      line-height: 1.5em;
  }


</style>